<div ng-controller="app.views.lobby as vm">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.createMjGame()">Create Game</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.getAllMjGames()">Get all games</button>
        </div>
    </div>
</div>